body{
	text-align:center;
	align-items:center;
	color:white;
	font-family:Josefin Sans; 
	background:black;
	font-size:75%;
}
#title{
	font-size:3em;
}
nav{
	background-color:#0D0D0D;
	text-decoration:none;
	font-size:3em;  
}
a{
	text-decoration:none;
	color:white;
}

#intro{
	font-size:2em;
}
#about{
	font-size:1em;
}
img{
	width:48%;
	height:27%;
}
div>.list{
	font-size:2em;
	display:inline-block; 
	padding:15px; 
}
p{
	font-size:2em;
}
#footer{
	position:absolute;
	bottom:0px; 
}
#rainbow{
	font-size:5em;
}
#rainbow:hover{ 
	-webkit-animation:rainbow 3s infinite alternate;
	-animation:raibow 2s infinite alternate;
}
@keyframes rainbow{
	from{color:blue;}
	to{color:red;}
}