body{
	text-align:center;
	color:white;
	font-family:Josefin Sans; 
	background:black;
	font-size:75%;
}
#title{
	font-size:3em;
}
img{
	width:32%;
	height:18%;
	align:middle;
}
p{
	font-size:2em;
}
#intro
{
	font-size:2em;
	background-color:black;
}